.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__name
        test
      .chat-main__group-info__left__member
        Member:name
    .chat-main__group-info__right
      = link_to "#", class: 'chat-main__group-info__right__btn' do
        Edit
  .chat-main__message-list
    .chat-main__message-list__box
      .list-info
        .list-name
          =current_user.name
        .list-time
          2020/06/17[Wed]21:05:03
      .sent-message
        おはよう
    .chat-main__message-list__box
      .list-info
        .list-name
          ryo
        .list-time
          2020/06/17[Wed]21:05:03
      .sent-message
        おはよう
    .chat-main__message-list__box
      .list-info
        .list-name
          ryo
        .list-time
          2020/06/17[Wed]21:05:03
      .sent-message
        おはよう
    .chat-main__message-list__box
      .list-info
        .list-name
          ryo
        .list-time
          2020/06/17[Wed]21:05:03
      .sent-message
        おはよう
  .chat-main__message-form
    .chat-main__message-form__list
      = form_for [@group, @message], class:"new_message" do |f|
        .input-box
          = f.text_field :content, class: "input-box__text", placeholder: "type a message"
          = f.label :image, class:"input-box__image" do
            = icon('far', 'image')
            = f.file_field :image, class: "input-box__image__file"
        .input-form
          = f.submit "Send", class: "form-btn"